[submodule "project_code/trivia_game_p5"]
	path = project_code/trivia_game_p5
	url = https://github.com/inspectordanno/trivia_game_p5
[submodule "project_code/craft_beer_viz"]
	path = project_code/craft_beer_viz
	url = https://github.com/inspectordanno/craft_beer_viz
[submodule "project_code/ballpit_p5"]
	path = project_code/ballpit_p5
	url = https://github.com/inspectordanno/ballpit_p5
[submodule "project_code/best_mlb_players"]
	path = project_code/best_mlb_players
	url = https://github.com/inspectordanno/best_mlb_players
[submodule "project_code/east_boston"]
	path = project_code/east_boston
	url = https://github.com/inspectordanno/east_boston
[submodule "project_code/east_boston_amazon"]
	path = project_code/east_boston_amazon
	url = https://github.com/inspectordanno/east_boston_amazon
